html {
    width: 100%;
    font-family: 'PT Serif', serif;
    height: 100vh;
}

/* HEADER  & FOOTER -------------------------------------------------------------------*/

header {
    background-color: white;
    height: 120px;
}

.tete {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slogan {
    font-size: 50px;
    position: absolute;
    left: 2%;
    top: 0;
}

#L {
    color: red;
}

#pre img {
    width: 100%;
    height: 20%;
}

#pre figcaption {
    position: absolute;
    height: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 4%;
    padding: 20px;
}

#ici, #ici a {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: red;
}

footer {
    background-color: white;
    text-align: center;
    padding: 50px;
}

/* CAROUSEL -------------------------------------------------------------------*/

#diaporama {
    position: relative;
    width: 50%;
    margin: 2% auto;
    margin-bottom: 150px;
}

/* VH permet d'avoir une meilleur visiblité sur tout support*/

#caroussel {
    position: relative;
    height: 50vh;
}

#caroussel figure {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s;
}

#caroussel figure+figure {
    opacity: 0;
}

#caroussel figure img {
    width: 100%;
    height: 100%;
}

#caroussel figcaption {
    position: absolute;
    height: auto;
    right: 2%;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    top: 2%;
    padding: 20px;
    letter-spacing: 3px;
}

#diaporama button {
    position: absolute;
    top: 110%;
    z-index: 2;
    border: none;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#bouttonDroit {
    right: 25%;
}

#bouttonGauche {
    left: 25%;
}

#bouttonPause {
    right: 50%;
}

#bouttonPlay {
    left: 50%;
}

/* info ---------------------------------------------------------------*/

#containerI {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    padding: auto;
}

#containerI img {
    height: 39px;
}

/* CARTE ET FORMULAIRE ------------------------------------------------------------------------------------------------*/

#container {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    color: rgb(211, 211, 211);
    ;
}

.map-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

#mapid {
    height: 650px;
    width: 65%;
    justify-content: center;
    margin-bottom: 20px;
}

#form {
    height: 650px;
    width: 30%;
    justify-content: space-around;
    margin-left: 2%;
    color: rgb(211, 211, 211);
}

#info {
    text-align: center;
    justify-content: center;
    padding-top: 15%
}

#formF {
    border: none;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: rgba(230, 0, 0, 0.63);
    font: bold 13px Arial;
    color: rgb(211, 211, 211);
    width: 70px;
}

#bouttonr {
    display: none;
}

#reservation {
    display: none;
    padding: 5%;
    text-align: center;
}

input {
    height: 30px;
}

#finalRe {
    display: flex;
    justify-content: center;
}

#canvasB {
    display: block;
    text-align: center;
    display: none;
}

#canvas {
    text-align: center;
    margin-left: 45%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    min-width: auto;
    min-height: auto;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid grey;
    background-color: white;
    border-radius: 15px;
}

#bouttonf {
    display: none !important;
}

#timerR {
    display: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom: auto;
    width: 65%;
    border-style: solid;
    padding: 30px;
}

#time {
    margin: 20px;
}

#panel {
    text-align: center;
    border-radius: 10px;
}

/* MEDIA QUIERIES */

@media screen and (max-width: 1600px) {
    #pre figcaption {
        top: 30%;
    }
}

@media screen and (max-width: 830px) {
    #pre figcaption {
        top: 20%;
    }
    #bouttonDroit {
        right: 0%;
    }
    #bouttonGauche {
        left: 1%;
    }
}

@media screen and (max-width: 600px) {
    #diaporama {
        width: 80%;
    }
    .map-container {
        flex-direction: column;
    }
    #mapid {
        width: 100%;
    }
    #form {
        width: 100%;
    }
    #containerI {
        display: none;
    }
    #pre figcaption {
        font-size: 14px;
    }
}