html {
    width: 100%;
    font-family: 'Alike', serif;
    height: 100vh;
}

/* HEADER  & FOOTER -------------------------------------------------------------------*/

header {
    background-color: #00ff9d;
}

.tete {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}

.logobike {
    width: 10%;
    height: 10%;
    padding: 10px;
}

.slogan {
    padding-right: 20px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Modak', cursive;
    letter-spacing: 3px;
}



/* CAROUSEL -------------------------------------------------------------------*/

#diaporama {
    position: relative;
    width: 50%;
    margin: 2% auto;
    margin-bottom: 100px;
}

/* VH permet d'avoir une meilleur visiblité sur tout support*/

#caroussel {
    position: relative;
    height: 50vh;
}

#caroussel figure {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s;
}

#caroussel figure+figure {
    opacity: 0;
}

#caroussel figure img {
    width: 100%;
    height: 100%;
}

#caroussel figcaption {
    position: absolute;
    height: auto;
    right: 2%;
    border-radius: 10px;
    background-color: #00ff9d;
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    top: 2%;
    padding: 20px;
    letter-spacing: 3px;
}

#diaporama button {
    position: absolute;
    top: 110%;
    z-index: 2;
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#bouttonDroit {
    right: 25%;
}

#bouttonGauche {
    left: 25%;
}

#bouttonPause {
    right: 50%;
}

#bouttonPlay {
    left: 50%;
}

/* CARTE ET FORMULAIRE ------------------------------------------------------------------------------------------------*/

.map-container {
    padding: 50px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

#mapid {
    height: 650px;
    width: 65%;
    justify-content: center;
    margin-bottom: 20px;
}

#form {
    height: 650px;
    width: 30%;
    justify-content: space-around;
    margin-left: 2%;
    border-radius: 10px;
  
}

#info {
    text-align: center;
    justify-content: center;
    padding-top: 15%
}

#formF {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 85px;
    height: 85px;
    background: #00ff9d;
    border-radius: 50%;
    border: none;
    color: #fff;
    align-items: center;
    font-size: 15px;
}

#bouttonr {
    display: none;
}

#reservation {
    display: none;
    padding: 5%;
    text-align: center;
}

input {
    height: 30px;
}

#finalRe {
    display: flex;
    justify-content: center;
}

#canvasB {
    display: block;
    text-align: center;
    display: none;
}

#canvas {
    text-align: center;
    margin-left: 45%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    min-width: auto;
    min-height: auto;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid grey;
    background-color: white;
    border-radius: 15px;
}

#bouttonf {
    display: none !important;
}

#timerR {
    display: none;
    text-align: center;
    border-radius: 10px;
    background-color: #00ff9d;
    color: white;
    margin-bottom: auto;
    width: 65%;
}

#time {
    margin: 20px;
}

#panel {
    text-align: center;
    border-radius: 10px;
}